* {
    box-sizing: border-box;
}

body{
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height: 37px;
    color: #1E0606;
}

a {
    text-decoration: none;
}

.button {
    background: #1E0606 ;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    display: block;
    max-width: 161px;
    width: 100%;
    margin-top: 40px;
    top: 100%;
    padding: 9px 20px;
    text-align: center;
    cursor: pointer;
    
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
    background: #C7C1C1;
}

.undotted {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    
    
}

.header-list {
        display: flex;
}
      
.header-item a {
        color: #1E0606;
        font-family: Open Sans;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 19,07px;
        margin-right: 20px;
        

}

.header-button {
    color: #1E0606;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 2px;
    margin-top: 0px;
    font-family: Open Sans;
    font-size: 14px;
    
    
}

.header-search {
    margin-right: 24px;
  
}

.header-nav {
   margin: 0 auto 0 60px;
}

.footer {
    background: #434343;
    margin-top: 156px; 
    height: 555px;
    
    
}

.title-navigation {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin-left: 122px;
    padding-top: 100px;
}

.hr-line-one {
	margin: 23px 122px;
	padding: 0;
	height: 1px;
    Width: 380px;
	border: none;
	border-top: 1px solid #666666;
}

.footer-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 61px;
    margin-bottom: 1px;
}

.text-post {
    margin-top: 28px;
}

.information {
    margin-top: -307px;
    margin-left: 510px;
}

.title-information {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin-left: 12px;
    padding-top: 10px;
}

.hr-line-two {
    margin: 23px 12px;
	padding: 0;
	height: 1px;
    Width: 380px;
	border: none;
	border-top: 1px solid #666666;
}

.navigation-text {
margin-top: 28px;
margin-left: -110px;
}

.title-connect {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin-left: 922px;
    margin-top: -282px;
}

.hr-line-three {
    margin: 23px 922px;
	padding: 0;
	height: 1px;
    Width: 380px;
	border: none;
	border-top: 1px solid #666666;
}

.email-button {
    width: 81px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 22px;
    margin-left: 1221px;
    margin-top: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position:relative;
}


.email-chec {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    Width: 380px;
    Height: 40px;
    background-color: #666666;
    color: #EBEBEB;
    border: none;
    margin-left: 922px;
    margin-top: 1px;
    position: absolute;
    
}

.networks {
    display: flex;
    margin-top: 25px;
    margin-left: 923px;
}

.social-net {
    margin-right: 10px;
}

.hr-line-footer {
    Width: 1180px;
    Height: 1px;
    background: #666666;
    margin-top: 130px;
    margin-right: 121px;
    border: none;
}

.rating {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 122px;
    margin-top: 23px;
}

.stars {
    margin-left: 272px;
    margin-top: -38px;
    font-size: 21px;
    line-height: 22px;
}

.copyright {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 522px;
    margin-top: -22px;
}

.design {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A2A2A2;
    margin-left: 922px;
    margin-top: -37px;
}