.banner {
    margin-top: 129px;
    background-repeat: no-repeat;
    background-color: #EEE4DB;
}
.banner-columns{
    display: flex;
    justify-content: space-between;
}
.collection-num{
    margin-left: 32px;
    
}

.open-num {
    margin-top: 36px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 60px;
    line-height: 73,14px;
    color: rgba(30, 6, 6, 0.05);
    line-height: 19,07px;
    
}


.collection-desc{
   margin-top: 66px;
   margin-left: 10px;
}

.num-button{
    border: 0;
    background-color: #D6CAC2;
    width: 31px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 0px;
    
    
}
.num-button-indexed{
    border: 0;
    background-color: #1E060699;
    width: 31px;
    height: 3px;
    margin-top: 29px;
}


.banner-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    min-width: 40%;
    align-items: center;
    width: 307px;
    font-family: Montserrat;
    margin-left: 22px;
    margin-top: 26px;
    
}

.banner-button {
    max-width: 161px;
    font-size: 16px;
    line-height: 22px;
    margin-top: -1px;
    margin-left: 22px; 
        
}

.banner-footer {
    background: #C29974;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    padding: 11px;
}

.text-designed {
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606; 
    margin-top: -8px;
    margin-left: 22px;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.parent {
    display: flex;
    flex-direction: column;

}

.fon-banner {
margin-top: -88px;
margin-right: 98px;
}
/* CATEGORY */


.category-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 90px;
    margin-bottom: 30px;
    display: inline-block;
    width: 483px;
    height: 47px;
    font-size: 38px;
}

.category-list {
    display: flex;
    height: 280px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    text-align: justify;
    
    
    
}

.title-one {
    background-image: url(..//img/categorys/category1.png);
    width: 244px;
    height: 177px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 5px;
    color: #FFFFFF;
    padding-top: 71px;
    padding-left: 19px;
    padding-right: 18px;
    padding-bottom: 47px;
    color: #FFFFFF;
    word-wrap: break-word;
    text-align: center;
    hyphens: manual;
    margin-top: 47px;
    margin-left: 18px;
    
}

.title-two {
    background-image: url(..//img/categorys/category2.png);
    width: 208px;
    height: 244px;
    padding-bottom: 10px;
    margin-left: 35px;
    margin-top: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 89px;
    padding-left: 19px;
    padding-right: 18px;
    padding-bottom: 47px;
}

.title-three {
    background-image: url(..//img/categorys/category3.png);
    width: 270px;
    height: 270px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 118px;
    padding-left: 19px;
    padding-right: 20px;
    padding-bottom: 32px;
    margin-left: 1px;
    margin-top: 2px;
    
}
.title-four {
    background-image: url(..//img/categorys/category4.png);
    width: 240px;
    height: 250px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 109px;
    padding-left: 18px;
    padding-right: 20px;
    padding-bottom: 32px;
    margin-left: 20px;
    margin-top: 11px;
}

.products1 {
    background-color: #DBE4DB;
    height: 270px;
    width: 280px;
    margin-right: 20px;
    
    
}

.products2 {
    background: #EADDD3;
    height: 270px;
    width: 280px;
    margin-right: 25px;
}

.products3 {
    background: #F8F2DA;
    height: 270px;
    width: 270px;
    margin-right: 25px;
    
}

.products4 {
    background: #D5D4E1;
    height: 270px;
    width: 280px;
    
}

.all-switches {
margin-top: 22px;
margin-left: -1px;

}

.switches {
    border: none;
    padding-left: 1px;
    padding-right: 0px;
}

.description {
    height: 44px;
    width: 541px;
    margin-left: 101px;
    margin-top: -69px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-family: Open Sans;
    text-align: left;
}
/* DELIVERY */

.img-delivery {
    margin-left: 122px;
    margin-top: 90px;
}

.delivery-list {
    text-align: left;
    height: 611px;
    width: 530px;
    margin-top: -573px;
    margin-left: 723px;
}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.title-delivery {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 54px;
    color: #1E0606;
    margin-top: -22px;
    margin-left: -1px;
    background: rgba(112, 187, 220, 0.2);
    height: 52px;
    width: 265px;
     
}

.title-guarantee {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    margin-top: -13px;
    margin-left: -1px;
}

.title-credit {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    margin-top: -3px;
    margin-left: -1px;
}

.text-delivery {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    line-height: 22px;
    width: 472px;
    margin-top: 29px;
}

.delivery-button {
    width: 149px;
    height: 40px; 
    margin-top: 25px;
    margin-left: -1px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;

}

/* BRAND */

.brand {
   height: 61px;
   display: flex;
   width: 1180px;
   margin-top: 1px;
   
}

.brand-mail {
    margin-right: 121px;
    margin-top: 6px;
}

.brand-apple {
    margin-right: 121px;
    margin-top: 5px;
    margin-left: 7px;
}

.brand-eltex {
    margin-right: 121px;
    margin-top: 13px;
    margin-left: 5px;
}

.brand-owox {
    margin-right: 121px;
    margin-top: 15px;
    margin-left: 6px;
}

/* information */

.about-list {
height: 349px;
width: 1143px;
display: flex;
}

.title-design {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    margin-top: 97px;
    margin-left: 152px;
}

.title-about {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    margin-top: -26px;
    margin-left: 152px;
}

.about-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 476px;
    margin-top: -17px;
    margin-left: 152px;
}

.button-about {
    width: 123px;
    height: 40px;
    margin-top: 21px;
    margin-left: 151px;
}

.title-contacts {
    margin-top: 97px;
    margin-left: 124px;
}

.text-contacts {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    width: 483px;
    font-size: 16px;
    line-height: 22px;
    margin-top: -18px;
    margin-left: 124px;
}

.maps {
    position: absolute;
    width: 483px;
    height: 196px;
    margin-top: 4px;
    margin-left: 124px;
}

/* FOOTER */

